<div class='error-page'>
	<div class='error-page-text'>
		<div class='status'>
			404  :(
		</div>
		<div class='page-not-found'>
			Page not found ...bit awkward.
		</div>
		<div class='take-me-home'>
			<a href='/'>Take Me Home</a>
		</div>
	</div>
</div>