<!-- meeting -->
<section id='engaged-section' class='primary-section'>
    <svg class='engaged-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M50,50 L50,500" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#f1f1f1; fill:none; display: block; margin: 0 auto;"/>
    </svg>
    <div class='engaged-major'>THEY GOT ENGAGED!</div>
    <div class='ring-graphic'></div>
    <div class='engaged-minor'><b>30TH NOVEMBER 2013</b></div>
    <div class='accomodation-major'>ACCOMODATION</div>
</section>