<div class='container header'>
	<div id='date'>03 Oct 2015</div>
	<div id='logo'></div>
	<div id='countdown'>
		<div class='number' id='days' style='width: 70px;'></div>
		<div class='text' id='days-text'></div>
	</div>
</div>