<!-- meeting -->
<section id='meeting-section' class='primary-section'>
	<svg class='first-set-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M50,0 L50,450" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<div class='major-caption' style='position: absolute; top: 180px; left: 50%; width: 550px; margin-left: -275px;'>
		&#123; the story so far &#125;
	</div>
	<svg class='split-to-her-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M10,50 L360,50" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<svg class='split-to-him-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M10,50 L360,50" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<svg class='her-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M50,0 L50,850" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<div class='her-image'></div>
	<div class='her-info'>
		<div class='tag'>Her name:</div>
		<div class='name'>alex</div>
	</div>
	<svg class='him-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M50,0 L50,850" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<div class='him-image'></div>
	<div class='him-info'>
		<div class='tag'>His name:</div>
		<div class='name'>stephen</div>
	</div>
	<svg class='split-from-her-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M10,50 L360,50" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<svg class='split-from-him-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M10,50 L360,50" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<svg class='second-set-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M50,10 L50,450" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<div class='major-caption' style='position: absolute; top: 1070px; left: 50%; width: 550px; margin-left: -275px; font-size: 48px;'>
		&#123; ...some time in 2007... &#125;
	</div>
</section>