<!-- meeting -->
<section id='meeting-section' class='primary-section'>
	<svg class='first-set-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M50,0 L50,450" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#a2e0cf; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<div class='major-caption' style='position: absolute; top: 200px; left: 50%; width: 550px; margin-left: -275px;'>
		&#123; the story so far &#125;
	</div>
</section>