<!-- meeting -->
<section id='registry-section' class='primary-section'>
    <a class="registry-link" href="https://www.johnlewisgiftlist.com/giftint/guestpassword?giftListNumber=639376"><img src="../img/jl.png"></a>
</section>