<section id='us-section' class='primary-section'>
	<div class='content'>
		<div class='top-divider'></div>
		<div class='text'>
			<div class='wedding-date'>
				<div class='day'>third</div>
				<div class='of'>of</div>
				<div class='month'>october</div>
				<div class='year'>2015</div>
			</div>
			<div class='alex-stephen'>
				<div class='alex'>alexandra williams</div>
				<div class='ampersand'>&amp;</div>
				<div class='stephen'>stephen wright</div>
			</div>
		</div>
		<div class='counter-panel'>
			<div class='countdown'>will be tying the knot / getting hitched! ...that's in... <b><span></span></b> days!</div>
		</div>
	</div>
	<svg class='us-dots' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <path d="M50,50 L50,500" stroke-width="8" stroke-linecap="round" stroke-dasharray="1, 40" style="stroke:#f1f1f1; fill:none; display: block; margin: 0 auto;"/>
	</svg>
	<div class='hint'>
	hint - follow the dots!
	</div>
</section>