<section id='us-section' class='primary-section'>
	<div class='splash'>
		<div class='countdown'>will be tying the knot / getting hitched!  .....that's in..... <b><span></span></b> days!</div>
	</div>
	<!--<div class='next'></div>-->
</section>